body {
  color: #282425;
  background-color: #f0ebf1;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 0 0;
}

h1 {
  font-style: italic;
  font-size: 80px;
  text-align: center;
  margin: 0;
  color: black;
  background-color: rgb(255, 230, 230, 0.568);
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
  border-color: lightgray;
}

h2 {
  font-size: 48px;
  text-align: center;
  margin-top: 0;
}

h3 {
  margin: 36px 0 10px 0;
}

ul {
  margin: 0;
  padding-left: 20px;
}
a {
  color: #575757;
  font-style: italic;
  font-weight: bold;
}
li {
  padding-bottom: 20px;
}

.work,
.education {
  background-color: lightgray;
}

.work u {
  text-decoration-style: dotted;
}
.intro {
  padding: 0px 10% 0px 15%;
  text-align: justify;
}

.contact {
  margin-top: 40px;
  font-size: 16px;
}
.paticka {
  background-color: #282425;
  color: white;
  text-align: right;
  padding: 5px 20px;
  margin: 0;
  font-size: 10px;
}

.resume-foto {
  width: 230px;
  border-radius: 15%;
  float: right;
  margin: 25px 5%;
}
section {
  padding: 20px 15%;
  margin-top: 0;
  overflow: auto;
}

.hlavicka {
  background-image: url(header.jpeg);
  padding: 150px 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f0ebf1;
}
.menu li {
  display: inline-block;
  padding: 0;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu a {
  display: inline-flexbox;
  color: #282425;
  text-decoration: none;
  padding: 20px 60px;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
  background-color: rgb(255, 230, 230, 0.568);
}
